/* start global rulse */
:root {
  --main-color: #10cab7;   /*color for word*/
  --secondary-color: #2c4755; /*color*/
  --section-padding: 60px; /*space inside the border*/
  --section-background: #f6f6f6; /*background color*/
  --main-duration: 0.5s; /*period*/
}
/* End Variables */
/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
    font-family: "Work Sans", sans-serif;
} 
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
    /* End Global Rules */
    /*start componans*/
  .special-heading {
     color: #ebeced; /*color word*/
     font-size: 100px; /*font size = 100px*/
     text-align: center; /*position of text in center*/
     font-weight: 800;/*font-weight = 800*/
     letter-spacing: -3px; /*Distance between letters -3px*/
     margin: 0;/*space outside the border*/
  }
  .special-heading + p {
    margin: -30px 0 0; /*space outside the border*/
    font-size: 20px; /*font size = 20px*/
    text-align: center; /*position of text in center*/
    color: #797979; /*color word*/
  }
  @media (max-width: 767px) {
    .special-heading {
      font-size: 60px; /*font size = 60px*/
    }
    .special-heading + p {
      margin-top: -20px; /*space outside the border*/
    }
  }
    /*end componans*/
  /*End Global Rulse*/
  /*start Header*/  
.header {
      padding: 20px;      /*space inside the border = 20px */
}
.header .container {
     display: flex;      /*Specifies how an element should be displayed*/
     justify-content: space-between;  /*positoin in center*/
     align-items: center;      /*select the postion of text*/
}
.header .logo {
      width: 60px;      /*the width of logo = 60px*/
}
.header .links {
       position: relative;      /*posting method used for a link*/
}
.header .links:hover .icon span:nth-child(2){
       width: 100%;       /*width of span 2 is 100%*/
}
.header .links .icon {
       width: 30px;       /*the width = 30px*/
       display: flex;     /*Specifies how an element should be displayed*/
       flex-wrap: wrap;   /*The flex-wrap property specifies whether the flexible items should wrap or not ,wrap 	Specifies that the flexible items will wrap if necessary */
       justify-content: flex-end;  /*positoin align it to the right*/
}
.header .links .icon span {
  background-color: #333;    /*background coloring*/
  margin-bottom: 5px;   /*space outside bottom the border*/
  height: 2px;    /*height = 2px*/
}
.header .links .icon span:first-child{
    width: 100%;       /*the width is 100%*/
}
.header .links .icon span:nth-child(2){
    width: 60%;      /*width is 60%*/
    transition: 0.3s;   /*A slight effect on the second Span*/
}
.header .links .icon span:last-child{
    width: 100%;      /*width is 100%*/
}
.header .links ul {
   list-style: none;   /*effects to list is none*/
   margin: 0;         /*space outside the border is 0*/
   padding: 0;       /*space inside border is 0*/
   background-color: #f6f6f6;   /*background coloring is wight*/
   position: absolute;    /*posting method used for a links is absolute*/
   right: 0;    /*effect to position right is 0*/
   min-width: 200px; /*min-width = 200px*/
   top: calc(100% + 15px);    /*calculate 100% + 15px in the top*/
   display: none;   /*Specifies the displayed of links is none*/
   z-index: 1; /*use z-index to make links above of image*/
}
.header .links ul ::before{
     content: "";   /*the content of links ul before*/
     border-width: 10px;   /*the border of width is 10px*/
     border-style: solid; /*the border of style is solid*/ 
     border-color: transparent transparent #f6f6f6 transparent; /*color of brder*/
     position: absolute;  /*posting method used for a links is absolute*/
     right: 5px;  /*Aligned to the right by 5px*/
     top: -20px; /*Aligned to the top by -20px*/ 
}
.header .links:hover ul{
    display: block;    /*Specifies the displayed of ul is block*/
}
.header .links ul li a {
   display: block;   /*specifies of displayed is block*/ 
   padding: 15px;   /*space inside border is 15px*/
   text-decoration: none; /*the style of text*/
   color: #333;   /*the color of word*/
   transition: 0.3s; /*A slight effect period 3s*/
}
.header .links ul li a:hover {
   padding-left: 25px;   /*space left inside border is 25px*/
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd; /*make border to a in the bottom=1px ,solid and color #ddd*/
}
/*end header*/
/*start landing section*/
.landing {
       background-image: url(../images/landing.jpg);  /*backgroind for image*/
       background-size: cover; /*background size for image is cover*/
       height: calc(100vh - 64px);  /*height of image*/
       position: relative;      /*posting method used for a links is relative*/
}
.landing .intro-text {
        position: absolute;  /*posting method used for a landing is absolute*/
        left: 50%;     /*Aligned to the left by 50%*/
        top: 50%;     /*Aligned to the top by 50%*/
        text-align: center;  /*the position of text in center*/
        transform: translate(-50% , -50%); /*transfom is (-50%,-50%) means the position is in center*/
        width: 320pt; /*width is 320px*/
        max-width: 100%; /*maximum width*/
}
.landing .intro-text h1 {
     margin: 0;       /*space outside the border is 0*/
     font-weight: bold; /*font is bold*/
     font-size: 50px;  /*font size is 50px*/
     color: var(--main-color); /*color word*/
}
.landing .intro-text p {
  font-size: 19px;  /*font size is 19px*/
  line-height: 1.8; /*line-height = 1.8*/
}
/*end landing section*/
/*start features */
.features {
  padding-top: 60px; /*spacein the top border is 60px*/
  padding-bottom: 60px; /*spacein the bottom border is 60px*/
  background-color: #f6f6f6; /*background coloring*/
}
.features .container{
  display: grid; /*Specifies the displayed of is grid*/
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /*Filling the columns according to the area starts from 300 to 1fr */
  grid-gap: 20px; 
}
.features .feat {
  padding: 20px; /*space inside border is 20px*/
  text-align: center; /*position of words in center*/
}
.features .feat i {
  color: var(--main-color); /*color word*/
}
.features .feat h3 {
  font-weight: 800;  /*font-weight=800*/
  margin: 30px 0;   /*space outside the border are 30px,0*/
}
.features .feat p {
  line-height: 1.8;  /*line-height = 1.8*/
  color: #777; /*color word*/
  font-size: 17px; 
}
/*start services*/
.services {
  padding-top: 60px; /*space in the top border is 60px*/
  padding-bottom: 60px; /*space in the bottom border is 60px*/
}
.services .services-content {
  display: grid; /*Specifies the displayed of is grid*/
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /*Filling the columns according to the area starts from 300 to 1fr */
  grid-gap: 30px; /*grid-gap: 30px*/ 
  margin-top: 100px; /*space outside the border*/
}
.services .services-content .srv {
  display: flex; /*Specifies the displayed of is flex*/
  margin-bottom: 40px; /*space outside bottom the border is 40px*/
}
@media (max-width:767px) {
  .services .services-content .srv {
    flex-direction: column; /*flex-direction is column*/
    text-align: center; /*position of words in center*/
  }
}
.services .services-content .srv i {
  color: var(--main-color); /*color word*/
  flex-basis: 60px; 
}
.services .services-content .text {
 flex: 1; /*the flexible length on flexible items*/ 
}
.services .services-content .text h3 {
  margin: 0 0 20px; /*space outside the border*/
}
.services .services-content .srv .text p {
  color: #444; /*color word*/
  font-weight: 300;
  line-height: 1.6; /*Line length*/ 
}
.services .services-content .image {
  text-align: center; /*position of words in center*/
  position: relative; /*posting method used for a links is relative*/
}
.services .services-content .image::before {
  content: "";/*the content of image before*/
  background-color: var(--secondary-color);
  width: 100px;
  height: calc(100% + 100px);
  top: -50px; /*top = -50px*/
  position: absolute; /*posting method used for a landing is absolute*/
  right: 0;
  z-index: -1; /*use z-index to make links above of image*/
}
.services .services-content .image img {
  width: 260px;
}
@media (max-width: 1199px) {
  .image-column {
    display: none; /*Specifies the displayed of is none*/
  }
}
/* Start Services  */
/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding); /*space inside border*/
  padding-bottom: var(--section-padding); /*space inside bottom border*/
  background-color: var(--section-background);
}
.portfolio .portfolio-content {
  display: grid; /*Specifies the displayed of is grid*/
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /*Filling the columns according to the area starts from 300 to 1fr*/
  grid-gap: 30px; /*grid-gap: 30px*/
  margin-top: 80px; /*space outside the border*/
}
.portfolio .portfolio-content .card {
  background-color: white;
}
.portfolio .portfolio-content .card img {
  max-width: 100%;
}
.portfolio .portfolio-content .card .info {
  padding: 20px; /*space inside border*/
}
.portfolio .portfolio-content .card .info h3 {
  margin: 0; /*space outside the border*/
}
.portfolio .portfolio-content .card .info p {
  color: #777;
  line-height: 1.6;
  margin-bottom: 0; /*space outside the border*/
}
/* End Portfolio */
/* Start About */
.about {
  padding-top: var(--section-padding); /*space inside border*/
  padding-bottom: calc(var(--section-padding) + 60px);
}
.about .about-content {
  margin-top: 100px;
  display: flex; /*Specifies the displayed of is flex*/
  flex-wrap: wrap;
}
/*end services*/