/* start global rulse */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: "Work Sans", sans-serif;
} 
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /*End Global Rulse*/
  /*start Header*/  
.header {
      padding: 20px;      /*space inside the border = 20px */
}
.header .container {
     display: flex;      /*Specifies how an element should be displayed*/
     justify-content: space-between;  /*positoin in center*/
     align-items: center;      /*select the postion of text*/
}
.header .logo {
      width: 60px;      /*the width of logo = 60px*/
}
.header .links {
       position: relative;      /*posting method used for a link*/
}
.header .links:hover .icon span:nth-child(2){
  
}
.header .links .icon {
       width: 30px;       /*the width = 30px*/
       display: flex;     /*Specifies how an element should be displayed*/
       flex-wrap: wrap;   /*The flex-wrap property specifies whether the flexible items should wrap or not ,wrap 	Specifies that the flexible items will wrap if necessary */
       justify-content: flex-end;  /*positoin align it to the right*/
}
.header .links .icon span {
  background-color: #333;    /*background coloring*/
  margin-bottom: 5px;   /*space outside bottom the border*/
  height: 2px;    /*height = 2px*/
}
.header .links .icon span:first-child{
    width: 100%;       /*the width is 100%*/
}
.header .links .icon span:nth-child(2){
    width: 60%;      /*width is 60%*/
    transition: 0.3s;   /*A slight effect on the second Span*/
}
.header .links .icon span:last-child{
    width: 100%;      /*width is 100%*/
}